@model IEnumerable<CareerDTO>;
@{
    ViewData["Title"] = "GestionCarreras";
}

<h1 class="title_gestion_proyectos">
    <img src="https://image.flaticon.com/icons/png/512/2231/2231696.png" alt="">
    Gestion de carreras
</h1>

<div class="container_buttons_proyects">
    <a asp-controller="Gestiones" asp-action="Index" class="btn btn-primary" id="btnAddProject">Regresar a las gestiones</a>
</div>

<div class="container_buttons_proyects">
    <a asp-controller="GestionCarreras" asp-action="Add" class="btn btn-success" id="btnAddProject">Añadir carrera</a>
</div>

<section class="proyecto_table">
    <table class="table table-dark">
        <thead>
            <tr>
                <td>Nombre de la carrera </td>
                <td>Descripcion </td>
                <td>División </td>
                <td>Operaciones </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.Division</td>
                    <td>
                        <a class="btn btn-primary" asp-controller="GestionCarreras" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                        <a class="btn btn-danger" asp-controller="GestionCarreras" asp-action="Delete" asp-route-id="@item.Id" onClick="confirm('¿Seguro de eliminar este registro?')">Eliminar</a>
                        <a id="btnDownloadPdf" class="btn btn-secondary" href="~/archives/@item.PdfName" target="_blank">Plan de estudio</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>

