@model kisko.Models.ProjectDTO;
@{
    ViewData["Title"] = "Edit";
    Layout = "_AdminLayout";
    var photoPath = $"~/images/{(Model.Img ?? "not-found.png")}";
    var photoPath2 = $"~/images/{(Model.Img2 ?? "not-found.png")}";
    var photoPath3 = $"~/images/{(Model.Img3 ?? "not-found.png")}";
}

<section class="container_gestion_proyecto">
    <div>
        <form class="proyecto_form" asp-action="Edit" method="POST" enctype="multipart/form-data">

            <div class="form-group">
                <label for="name">Nombre del proyecto</label>
                <input class="form-control" type="text" name="name" id="name" asp-for="Name" maxlength="100" required value="@Model.Name">
            </div>

            <div class="form-group">
                <label for="description">Descripcion del proyecto</label>
                <textarea class="form-control" name="description" id="description" asp-for="Description" cols="30" rows="10" maxlength="250">@Model.Description</textarea>
            </div>

            <div class="form-group">
                <label for="gradegroup">Grado y Grupo</label>
                <input class="form-control" type="text" name="gradegroup" id="gradegroup" asp-for="GradeGroup" value="@Model.GradeGroup">
            </div>

            <div class="form-group">
                <label for="Student">Integrante #1</label>

                <select class="form-select" name="StudentId" asp-for="StudentId" title="Selecciona el integrante">
                    <option value="">Selecciona un alumno</option>
                    @foreach (var item in ViewBag.Students)
                    {
                        <option value="@item.Id">@item.Name @item.Lastname</option>

                    }
                </select>
            </div>

            <div class="form-group">
                <label for="SecondStudentId">Integrante #2</label>

                <select class="form-select" name="SecondStudentId" asp-for="SecondStudentId" title="Selecciona el integrante">
                    <option value="">Selecciona un alumno</option>
                    @foreach (var item in ViewBag.Students)
                    {
                        <option value="@item.Id">@item.Name @item.Lastname</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="video">Link del video</label>
                <input class="form-control" type="text" name="video" id="video" asp-for="Video" value="@Model.Video">
            </div>

            <div class="container_edit_project_img">
                <div class="form-group">
                    <img src="@photoPath" alt="@Model.Name" class="img-fluid photoProject" asp-append-version="true"
                         id="Img" name="Img" />
                </div>

                <div class="form-group">
                    <img src="@photoPath2" alt="@Model.Name" class="img-fluid photoProject" asp-append-version="true"
                         id="Img2" name="Img2" />
                </div>

                <div class="form-group">
                    <img src="@photoPath3" alt="@Model.Name" class="img-fluid photoProject" asp-append-version="true"
                         id="Img3" name="Img3" />
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Photo" class="form-label">Imagen</label>
                <input class="form-control" type="file" asp-for="Photo" value="@Model.Img">
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Photo2" class="form-label">Imagen 2</label>
                <input class="form-control" type="file" asp-for="Photo2" value="@Model.Img2">
                <span asp-validation-for="Photo2" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Photo3" class="form-label">Imagen 3</label>
                <input class="form-control" type="file" asp-for="Photo3" value="@Model.Img3">
                <span asp-validation-for="Photo3" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-success">Actualizar</button>
        </form>
    </div>
</section>

    


