@model IEnumerable<StudentDTO>;
@{
    ViewData["Title"] = "GestionAlumnos";
    Layout = "_AdminLayout";
    int Id = (int)ViewBag.AdminId;
}

<h1 class="title_gestion_proyectos">
    <img src="https://image.flaticon.com/icons/png/512/2784/2784403.png" alt="">
    Gestion de alumnos
</h1>

<div class="container_buttons_proyects">
    <a asp-controller="Gestiones" asp-action="Index" asp-route-id="@Id" class="btn btn-primary" id="btnAddProject">Regresar a las gestiones</a>
</div>

<div class="container_buttons_proyects">
    <a asp-action="Add" class="btn btn-success" id="btnAddProject">Añadir alumno</a>
</div>

<section class="proyecto_table">
    <table class="table table-dark">
        <thead>
            <tr>
                <td>Nombre </td>
                <td>Apellido </td>
                <td>Correo </td>
                <td>Operaciones </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Lastname</td>
                    <td>@item.Email</td>
                    <td>
                        <a class="btn btn-primary" asp-controller="GestionAlumnos" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                        <a class="btn btn-danger" asp-controller="GestionAlumnos" asp-action="Delete" asp-route-id="@item.Id" onClick="confirm('¿Seguro de eliminar este registro?')">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>

